{{form_start(form,{'action' : path('_account_letter_form') } )}}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Lettre vierge</h4>
</div>
<div class="modal-body">
    <div class="form-group">
    {{form_row(form.receiverId,{'attr' : {'class' :'form-control'} })}}
    </div>
    <div class="form-group">
    {{form_row(form.object,{'attr' : {'class' :'form-control'} })}}
    </div>
    <div class="form-group">
    {{form_row(form.text,{'attr' : {'class' :'form-control','rows' : 15} })}}
    </div>
    
</div>
<div class="modal-footer">
    <button type="reset" class="btn btn-default" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-primary">Enregrister</button>
</div>
{{form_end(form)}}