{% extends "DocIndexBundle::layout.html.twig" %}
{% block contain %}
<h1>Votre profil</h1>
<div class="col-lg-5">
{{form_start(form, {'action' : path('_account_profil') } ) }}
            {{form_row(form.username)}}
            {{form_row(form.lastname)}}
            {{form_row(form.firstname)}}
            {{form_row(form.email)}}
            {{form_row(form.tel)}}
            {{form_row(form.cp)}}
            {{form_row(form.city)}}
            {{form_row(form.district)}}
            {{form_row(form.country)}}
            <button  style="float: left" type="submit" class="btn btn-default" >Enregistrer</button>
        <div style="display:none" >{{form_end(form)}}</div>
</div>
{% endblock %}